In [1]:
!pip install openai

Requirement already satisfied: openai in c:\users\rlaehgus142\anaconda3\lib\site-packages (1.46.0)
Requirement already satisfied: anyio<5,>=3.5.0 in c:\users\rlaehgus142\anaconda3\lib\site-packages (from openai) (4.2.0)
Requirement already satisfied: distro<2,>=1.7.0 in c:\users\rlaehgus142\anaconda3\lib\site-packages (from openai) (1.9.0)
Requirement already satisfied: httpx<1,>=0.23.0 in c:\users\rlaehgus142\anaconda3\lib\site-packages (from openai) (0.27.0)
Requirement already satisfied: jiter<1,>=0.4.0 in c:\users\rlaehgus142\anaconda3\lib\site-packages (from openai) (0.5.0)
Requirement already satisfied: pydantic<3,>=1.9.0 in c:\users\rlaehgus142\anaconda3\lib\site-packages (from openai) (2.5.3)
Requirement already satisfied: sniffio in c:\users\rlaehgus142\anaconda3\lib\site-packages (from openai) (1.3.0)
Requirement already satisfied: tqdm>4 in c:\users\rlaehgus142\anaconda3\lib\site-packages (from openai) (4.66.4)
Requirement already satisfied: typing-extensions<5,>=4.11 in c:\users\rlaehgus142\anaconda3\lib\site-packages (from openai) (4.11.0)
Requirement already satisfied: idna>=2.8 in c:\users\rlaehgus142\anaconda3\lib\site-packages (from anyio<5,>=3.5.0->openai) (3.7)
Requirement already satisfied: certifi in c:\users\rlaehgus142\anaconda3\lib\site-packages (from httpx<1,>=0.23.0->openai) (2024.8.30)
Requirement already satisfied: httpcore==1.* in c:\users\rlaehgus142\anaconda3\lib\site-packages (from httpx<1,>=0.23.0->openai) (1.0.2)
Requirement already satisfied: h11<0.15,>=0.13 in c:\users\rlaehgus142\anaconda3\lib\site-packages (from httpcore==1.*->httpx<1,>=0.23.0->openai) (0.14.0)
Requirement already satisfied: annotated-types>=0.4.0 in c:\users\rlaehgus142\anaconda3\lib\site-packages (from pydantic<3,>=1.9.0->openai) (0.6.0)
Requirement already satisfied: pydantic-core==2.14.6 in c:\users\rlaehgus142\anaconda3\lib\site-packages (from pydantic<3,>=1.9.0->openai) (2.14.6)
Requirement already satisfied: colorama in c:\users\rlaehgus142\anaconda3\lib\site-packages (from tqdm>4->openai) (0.4.6)

In [2]:
import pandas as pd
import os
from openai import OpenAI

In [3]:
df = pd.read_excel("C:/Users/rlaehgus142/OneDrive/바탕 화면/OpenAI_파이썬_API_부트캠프_메타코드M/1강/Adidas US Sales Datasets.xlsx", header=4)
df = df.drop(df.columns[0], axis=1)
df.head(5)

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
0,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,Men's Street Footwear,50.0,1200,600000.0,300000.0,0.50,In-store
1,Foot Locker,1185732,2020-01-02,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000,500000.0,150000.0,0.30,In-store
2,Foot Locker,1185732,2020-01-03,Northeast,New York,New York,Women's Street Footwear,40.0,1000,400000.0,140000.0,0.35,In-store
3,Foot Locker,1185732,2020-01-04,Northeast,New York,New York,Women's Athletic Footwear,45.0,850,382500.0,133875.0,0.35,In-store
4,Foot Locker,1185732,2020-01-05,Northeast,New York,New York,Men's Apparel,60.0,900,540000.0,162000.0,0.30,In-store

In [4]:
df.columns = [col.replace(' ', '_') for col in df.columns]
df.columns

Index(['Retailer', 'Retailer_ID', 'Invoice_Date', 'Region', 'State', 'City',
       'Product', 'Price_per_Unit', 'Units_Sold', 'Total_Sales',
       'Operating_Profit', 'Operating_Margin', 'Sales_Method'],
      dtype='object')

In [5]:
# sum of sales by region
df.groupby("Region")['Total_Sales'].sum().sort_values(ascending=False)

Region
West         269943182.0
Northeast    186324067.0
Southeast    163171236.0
South        144663181.0
Midwest      135800459.0
Name: Total_Sales, dtype: float64

In [6]:
from sqlalchemy import create_engine
from sqlalchemy import text

In [7]:
temp_db = create_engine('sqlite:///:memory:', echo=True)

In [8]:
data = df.to_sql(name='Sales', con=temp_db)

2024-09-18 20:28:54,858 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-18 20:28:54,865 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Sales")
2024-09-18 20:28:54,867 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-18 20:28:54,869 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("Sales")
2024-09-18 20:28:54,870 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-18 20:28:54,875 INFO sqlalchemy.engine.Engine
CREATE TABLE "Sales" (
	"index" BIGINT,
	"Retailer" TEXT,
	"Retailer_ID" BIGINT,
	"Invoice_Date" DATETIME,
	"Region" TEXT,
	"State" TEXT,
	"City" TEXT,
	"Product" TEXT,
	"Price_per_Unit" FLOAT,
	"Units_Sold" BIGINT,
	"Total_Sales" FLOAT,
	"Operating_Profit" FLOAT,
	"Operating_Margin" FLOAT,
	"Sales_Method" TEXT
)


2024-09-18 20:28:54,876 INFO sqlalchemy.engine.Engine [no key 0.00138s] ()
2024-09-18 20:28:54,878 INFO sqlalchemy.engine.Engine CREATE INDEX "ix_Sales_index" ON "Sales" ("index")
2024-09-18 20:28:54,879 INFO sqlalchemy.engine.Engine [no key 0.00129s] ()
2024-09-18 20:28:55,108 INFO sqlalchemy.engine.Engine INSERT INTO "Sales" ("index", "Retailer", "Retailer_ID", "Invoice_Date", "Region", "State", "City", "Product", "Price_per_Unit", "Units_Sold", "Total_Sales", "Operating_Profit", "Operating_Margin", "Sales_Method") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2024-09-18 20:28:55,109 INFO sqlalchemy.engine.Engine [generated in 0.17839s] [(0, 'Foot Locker', 1185732, '2020-01-01 00:00:00.000000', 'Northeast', 'New York', 'New York', "Men's Street Footwear", 50.0, 1200, 600000.0, 300000.0, 0.5, 'In-store'), (1, 'Foot Locker', 1185732, '2020-01-02 00:00:00.000000', 'Northeast', 'New York', 'New York', "Men's Athletic Footwear", 50.0, 1000, 500000.0, 150000.0, 0.3, 'In-store'), (2, 'Foot Locker', 1185732, '2020-01-03 00:00:00.000000', 'Northeast', 'New York', 'New York', "Women's Street Footwear", 40.0, 1000, 400000.0, 140000.0, 0.35, 'In-store'), (3, 'Foot Locker', 1185732, '2020-01-04 00:00:00.000000', 'Northeast', 'New York', 'New York', "Women's Athletic Footwear", 45.0, 850, 382500.0, 133875.0, 0.35, 'In-store'), (4, 'Foot Locker', 1185732, '2020-01-05 00:00:00.000000', 'Northeast', 'New York', 'New York', "Men's Apparel", 60.0, 900, 540000.0, 162000.0, 0.3, 'In-store'), (5, 'Foot Locker', 1185732, '2020-01-06 00:00:00.000000', 'Northeast', 'New York', 'New York', "Women's Apparel", 50.0, 1000, 500000.0, 125000.0, 0.25, 'In-store'), (6, 'Foot Locker', 1185732, '2020-01-07 00:00:00.000000', 'Northeast', 'New York', 'New York', "Men's Street Footwear", 50.0, 1250, 625000.0, 312500.0, 0.5, 'In-store'), (7, 'Foot Locker', 1185732, '2020-01-08 00:00:00.000000', 'Northeast', 'New York', 'New York', "Men's Athletic Footwear", 50.0, 900, 450000.0, 135000.0, 0.3, 'Outlet')  ... displaying 10 of 9648 total bound parameter sets ...  (9646, 'Foot Locker', 1185732, '2021-02-22 00:00:00.000000', 'Northeast', 'New Hampshire', 'Manchester', "Men's Athletic Footwear", 42.0, 70, 2940.0, 1234.8000000000002, 0.42000000000000004, 'Outlet'), (9647, 'Foot Locker', 1185732, '2021-02-22 00:00:00.000000', 'Northeast', 'New Hampshire', 'Manchester', "Women's Street Footwear", 29.0, 83, 2407.0, 649.89, 0.27, 'Outlet')]
2024-09-18 20:28:55,164 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2024-09-18 20:28:55,165 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-18 20:28:55,167 INFO sqlalchemy.engine.Engine COMMIT

In [9]:
with temp_db.connect() as conn:
    result = conn.execute(text("SELECT Retailer, City, State, Total_Sales, Operating_profit from Sales ORDER BY Total_Sales DESC LIMIT 1"))

2024-09-18 20:28:55,174 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-18 20:28:55,175 INFO sqlalchemy.engine.Engine SELECT Retailer, City, State, Total_Sales, Operating_profit from Sales ORDER BY Total_Sales DESC LIMIT 1
2024-09-18 20:28:55,176 INFO sqlalchemy.engine.Engine [generated in 0.00158s] ()
2024-09-18 20:28:55,182 INFO sqlalchemy.engine.Engine ROLLBACK

In [10]:
result.all()

[('Walmart', 'Orlando', 'Florida', 825000.0000000001, 371250.00000000006)]

In [11]:
os.environ['OPENAI_API_KEY'] = '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'
client = OpenAI()

In [12]:
# the function is that we shows our data table to GPT.
def table_definition_prompt(df):
    prompt = '''Given the following SQL definition, write queries beased on the request
                \n### sqlite SQL table, with its properties:
    #
    # Sales({})
    #
    '''.format(",".join(str(x) for x in df.columns))
    return prompt

In [13]:
print(table_definition_prompt(df))

Given the following SQL definition, write queries beased on the request

### sqlite SQL table, with its properties:
    #
    # Sales(Retailer,Retailer_ID,Invoice_Date,Region,State,City,Product,Price_per_Unit,Units_Sold,Total_Sales,Operating_Profit,Operating_Margin,Sales_Method)
    #

In [14]:
# we need a function that checks a funciton received from user
def prompt_input():
    nlp_text = input("Put your question: ")
    return nlp_text

In [15]:
nlp_text = prompt_input()

Put your question:  The sum of Total Sales for each State

In [16]:
full_prompt = str(table_definition_prompt(df)) + str(nlp_text)
full_prompt

'Given the following SQL definition, write queries beased on the request\n                \n### sqlite SQL table, with its properties:\n    #\n    # Sales(Retailer,Retailer_ID,Invoice_Date,Region,State,City,Product,Price_per_Unit,Units_Sold,Total_Sales,Operating_Profit,Operating_Margin,Sales_Method)\n    #\n    The sum of Total Sales for each State'

In [17]:
response = client.chat.completions.create(
    model="gpt-3.5-turbo",
    messages=[
        {"role": "system", "content": "You are an assistant that generates SQL queries based on the given SQLite table definition and a natural language request. The qeury should start with 'SELECT' and end with a semicolon(;)"},
        {"role": "user", "content": f"A query to answer: {full_prompt}"},
    ],
    max_tokens=200,
    temperature=1.0,
    stop=None
)

In [18]:
response

ChatCompletion(id='chatcmpl-A9290apivIKKL7nR9q6JaKrfU927r', choices=[Choice(finish_reason='stop', index=0, logprobs=None, message=ChatCompletionMessage(content='SELECT State, SUM(Total_Sales) as Total_Sales\nFROM Sales\nGROUP BY State;', refusal=None, role='assistant', function_call=None, tool_calls=None))], created=1726716558, model='gpt-3.5-turbo-0125', object='chat.completion', service_tier=None, system_fingerprint=None, usage=CompletionUsage(completion_tokens=21, prompt_tokens=136, total_tokens=157, completion_tokens_details=CompletionTokensDetails(reasoning_tokens=0)))

In [19]:
# extract the part of something we need
response.choices[0].message.content

'SELECT State, SUM(Total_Sales) as Total_Sales\nFROM Sales\nGROUP BY State;'

In [20]:
def handle_response(response):
    query = response.choices[0].message.content.strip()

    if not query.upper().startswith("SELECT"):
        query = "SELECT" + query

    if not query.endswith(";"):
        query += ";"

    return query

In [21]:
print(handle_response(response))

SELECT State, SUM(Total_Sales) as Total_Sales
FROM Sales
GROUP BY State;

In [22]:
with temp_db.connect() as conn:
    result = conn.execute(text(handle_response(response)))

2024-09-18 20:29:22,834 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-18 20:29:22,835 INFO sqlalchemy.engine.Engine SELECT State, SUM(Total_Sales) as Total_Sales
FROM Sales
GROUP BY State;
2024-09-18 20:29:22,836 INFO sqlalchemy.engine.Engine [generated in 0.00208s] ()
2024-09-18 20:29:22,840 INFO sqlalchemy.engine.Engine ROLLBACK

In [23]:
result.all()

[('Alabama', 17633424.0),
 ('Alaska', 14753103.000000002),
 ('Arizona', 15782221.000000002),
 ('Arkansas', 12639347.000000002),
 ('California', 60174133.0),
 ('Colorado', 20996536.0),
 ('Connecticut', 11573448.0),
 ('Delaware', 12298412.0),
 ('Florida', 59283714.00000001),
 ('Georgia', 18997466.0),
 ('Hawaii', 22282457.0),
 ('Idaho', 19276878.0),
 ('Illinois', 9797488.0),
 ('Indiana', 8836198.0),
 ('Iowa', 7424011.0),
 ('Kansas', 9972864.0),
 ('Kentucky', 10072848.0),
 ('Louisiana', 23750781.000000004),
 ('Maine', 9195978.0),
 ('Maryland', 7758059.0),
 ('Massachusetts', 11076810.0),
 ('Michigan', 18625433.0),
 ('Minnesota', 7378068.0),
 ('Mississippi', 15591709.000000002),
 ('Missouri', 9683265.0),
 ('Montana', 15710886.0),
 ('Nebraska', 5929038.0),
 ('Nevada', 20858509.0),
 ('New Hampshire', 16411667.000000002),
 ('New Jersey', 9934246.0),
 ('New Mexico', 19865016.000000004),
 ('New York', 64229039.0),
 ('North Carolina', 23956531.0),
 ('North Dakota', 7735580.0),
 ('Ohio', 18484583.0),
 ('Oklahoma', 10620734.0),
 ('Oregon', 21349674.0),
 ('Pennsylvania', 10357519.0),
 ('Rhode Island', 8446806.0),
 ('South Carolina', 29285637.000000004),
 ('South Dakota', 8495576.0),
 ('Tennessee', 18067440.0),
 ('Texas', 46359746.0),
 ('Utah', 9696420.0),
 ('Vermont', 14352923.0),
 ('Virginia', 21575040.0),
 ('Washington', 26330718.000000004),
 ('West Virginia', 10689160.0),
 ('Wisconsin', 7727469.0),
 ('Wyoming', 18577517.0)]